<%- include('partials/header') %>




<div class="container">
  <header class="jumbotron text-center">
    <div class="container">
      <h1>Welcome To Camp App</h1>
      <p>View our hand-picked campgrounds throughout the US</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
      </p>
    </div>
  </header>


  <div class="row text-center flex-wrap">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-md-3 col-sm-6">
          <div class="img-thumbnail">
            <img src="<%= campground.image %>" alt="camp">

            <div class="caption">
              <h4><%= campground.name %></h4>
            </div>
            <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
          </div>
      </div>
    <% }); %>
  </div>

</div>
<div class="pb-5 mb-3">

</div>

<%- include('partials/footer') %>
